# For Loop in Dictionary

In [2]:
dictionary = {"a" : 10, "b" : 20, "c" : 30};
for key, value in dictionary.items():
    print(key, value);

a 10
b 20
c 30

In [4]:
for key in dictionary.keys():
    print(key);

a
b
c

In [6]:
for value in dictionary.values():
    print(value);

10
20
30

In [13]:
dictionary = {"Hashim" : "C++", "Hussain" : "C#", "Zain" : "Java Script", "Nasir" : "Python"};

for key, value in dictionary.items():
    print("{} favourite language is {}".format(key, value));

Hashim favourite language is C++
Hussain favourite language is C#
Zain favourite language is Java Script
Nasir favourite language is Python

In [29]:
dictionary = {"First Name" : "Aslam", "Last Name" : "Nagaria", "Age" : 30, "City" : "Karachi"};

print("Hello")
for key, value in dictionary.items():
    print("Your {} is {}".format(key, value));

Hello
Your First Name is Aslam
Your Last Name is Nagaria
Your Age is 30
Your City is Karachi

In [32]:
dictionary = {"First Name" : "Rizwan", "Last Name" : "Aslam", "Age" : 30, "City" : "Karachi"};

print("Hello, First Name is {}".format(dictionary["First Name"]));
print("S/O {}".format(dictionary["Last Name"]));
print("I am {} years old".format(dictionary["Age"]));
print("I live in {}".format(dictionary["City"]));

Hello, First Name is Rizwan
S/O Aslam
I am 30 years old
I live in Karachi

In [34]:
user_0 = {'Teacher': 'Sir Nasir','Teacher_Assistant': 'Shahzad Ahsan','Student': 'Anas'}

for key, value in user_0.items():
    
    
    print("\nKey: " + key)
    print("Value: " + value)

Key: Teacher
Value: Sir Nasir

Key: Teacher_Assistant
Value: Shahzad Ahsan

Key: Student
Value: Anas

In [36]:
names = {'Shahzad':'Ahsan' , 'Sara Ali':'Khan' , 'Komal':'Aftab' , 'Hassan':'Dhedhi'}

for first_name , last_name in names.items():
    
    print('My First name is ' + first_name.title() + ' and my last name is ' + last_name.title() + '.')

My First name is Shahzad and my last name is Ahsan.
My First name is Sara Ali and my last name is Khan.
My First name is Komal and my last name is Aftab.
My First name is Hassan and my last name is Dhedhi.

In [38]:
words = {'mobile':'apple' , 'batsman':'AB' , 'bike':'Heavy' , 'car':'Audi'}

for word in words.keys():
    
    print('Dict: ' + word)

Dict: mobile
Dict: batsman
Dict: bike
Dict: car

In [40]:
alien1 = {'name':'Anas' , 'color':'green' , 'height':'5.7' , 'weight':'67'}

if 'last_name' not in alien1.keys():
    
    print("Please write your last name also...")

alien1 = {'name':'Anas' , 'color':'green' , 'height':'5.7' , 'weight':'67', "last_name" : "Junejo"};

if 'last_name' in alien1.keys():
    
    print("Last Name is {}".format(alien1["last_name"]))

Please write your last name also...
Last Name is Junejo

In [42]:
names = ["Aslam", "Sadiq", "Bashir", "Hamza", "Danish", "Zainab", "Yahya"];

print(sorted(names));

['Aslam', 'Bashir', 'Danish', 'Hamza', 'Sadiq', 'Yahya', 'Zainab']

In [54]:
names = {"Aslam" : "Zaki", "Yahya" : "Bashir", "Danish" : "Danyal", "Hammad" : "Azam", "Zainab" : "Jamal", "ahmed" : "ali"};

for name in sorted(names.keys()):
    print(name);
    
print(" \n")
    
for name in sorted(names.values()):
    print(name);
    
print(" \n")
    
names = {"ahmed" : "ali", "Aslam" : "Zaki", "Yahya" : "Bashir", "Danish" : "Danyal", "Hammad" : "Azam", "Zainab" : "Jamal"};

for name in sorted(names.keys()):
    print(name);
    
print(" \n")
    
for name in sorted(names.values()):
    print(name);

Aslam
Danish
Hammad
Yahya
Zainab
ahmed


Azam
Bashir
Danyal
Jamal
Zaki
ali


Aslam
Danish
Hammad
Yahya
Zainab
ahmed


Azam
Bashir
Danyal
Jamal
Zaki
ali

In [55]:
list1 = [1,3,45,2,10,6]
list1.sort();
list1

[1, 2, 3, 6, 10, 45]

In [68]:
seq = 'gola'
print(list(reversed(seq)))
# print(reversed(seq))
  

seq = ('g', 'o', 'l', 'a') 
print(list(reversed(seq))) 
# print(reversed(seq))

seq = range(1, 5) 
print(list(reversed(seq))) 
# print(reversed(seq))


seq = [1, 2, 4, 3, 5] 
# revseq = reversed(seq)
print(list(reversed(seq))) 
# print(reversed(revseq))

['a', 'l', 'o', 'g']
['a', 'l', 'o', 'g']
[4, 3, 2, 1]
[5, 3, 4, 2, 1]

In [70]:
alien_0 = {'color': 'green', 'points': 5}
alien_1 = {'color': 'yellow', 'points': 10}
alien_2 = {'color': 'red', 'points': 15}

aliens = [alien_0, alien_1, alien_2]


for alien in aliens:
    print(alien)

{'color': 'green', 'points': 5}
{'color': 'yellow', 'points': 10}
{'color': 'red', 'points': 15}

In [82]:
alien_0 = {'color': 'green', 'points': 5}
alien_1 = {'color': 'yellow', 'points': 10}
alien_2 = {'color': 'red', 'points': 15}

aliens = [alien_0, alien_1, alien_2]

for alien in aliens:
    print("Color : {}, Points : {}".format(alien["color"], alien["points"]))
    
print("\n")

for alien in aliens:
    for key, value in alien.items():
        print("Key : {}, Value : {}".format(key,value))

Color : green, Points : 5
Color : yellow, Points : 10
Color : red, Points : 15


Key : color, Value : green
Key : points, Value : 5
Key : color, Value : yellow
Key : points, Value : 10
Key : color, Value : red
Key : points, Value : 15

In [83]:
numbers = [1,2,3,4,5,6,7,8,9,10];

for table in [2,3]:
    for number in numbers:
        print(f"{table} X {number} = {table*number}")

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30