In [ ]:
def couples(hName, wName):
    print("The name of husband is", hName,
         "and the name of wife is", wName, ".");
    
    print(f"The name of husband is {hName} and the name of wife is {wName}.");
    print("The name of husband is {0} and the name of wife is {1}.".format(hName, wName));
    
couples(wName="fatima", hName="aslam");

### Calculator

In [6]:
while True:
    operator = input("Select operator or press q for exit");
    
    if (operator.upper() == "Q"):
        break;    
    
    firstNumber = float(input("Enter first number "));
    secondNumber = float(input("Enter second number "));

    def Calculate(firstNumber, secondNumber, operator):
        result = 0;
        if (operator == "+"):
            result = firstNumber + secondNumber;
        elif operator == "-":
            result = firstNumber - secondNumber;
        elif operator == "/":
            result = firstNumber / secondNumber;
        elif operator == "*":
            result = firstNumber * secondNumber;
        else:
            result = "Invalid operator";

        import math;
        
        if math.modf(result)[0] != 0:
            return result;
        else:
            return int(result);

    print(Calculate(firstNumber, secondNumber, operator));

Select operator or press q for exit/
Enter first number 12
Enter second number 3.5
3.4285714285714284
Select operator or press q for exitq

In [ ]:
2 + 2.5

In [ ]:
import math

In [3]:
a = math.modf(12)
a[0]

0.0

In [15]:
# info = ["First name", "Last Name", "Age", "Gender"];

def myInfo(fName, lName, age, gender):
    for var in myInfo:
        print(f"My first name is {var.title()}");
        print(f"My last name is {var.title()}");
        
# a = ["uzair", "ashraf", 25, "M"]
myInfo("uzair", "ashraf", 25, "M")

TypeError: 'function' object is not iterable

In [20]:
def info(fname , lname , age , gender):
    print(f"My First name:{fname.title()}\n My last name: {lname.title()}\n My age is:{age.title()}\n My gender is : {gender.title()}")
    
    
info("uzair" , 'ashraf',  22 , 'm')

My First name:Uzair
 My last name: ashraf
 My age is:22
 My gender is : m

In [21]:
def my_info(a):
    for info in a:
        print("My first name is: " , info , "\n My last name is " ,  info)
        
a = ["ali" , 'ahsan']

In [22]:
my_info(a)

My first name is:  ali
 My last name is  ali
My first name is:  ahsan
 My last name is  ahsan