# Tuple

In [4]:
cities = ("karachi", "lahore", "islamabad", "quetta");

myCity = cities[1];

print("I belong to {}".format(myCity.title()));

I belong to Lahore

In [6]:
tup1 = ("physics", "chemistry", 1991, 2000);
tup2 = (1, 2, 3, 4, 5, 6, 7);

print("tup1[0]: ", tup1[0]);
print("tup2[1:5]: ", tup2[1:5]);

tup1[0]:  physics
tup2[1:5]:  (2, 3, 4, 5)

In [9]:
tup1 = (12, 10.25);
tup2 = ("abc", "xyz");

tup3 = tup1 + tup2;
print(tup3);

tup3 = tup2 + tup1;
print(tup3);

tup3 = tup2 + tup2;
print(tup3);

tup3 = tup2 * tup2;
print(tup3);

(12, 10.25, 'abc', 'xyz')
('abc', 'xyz', 12, 10.25)
('abc', 'xyz', 'abc', 'xyz')

TypeError: can't multiply sequence by non-int of type 'tuple'

In [11]:
tup1 = ("physics", "chemistry", 100, 120);
print(tup1);

del tup1;

print("After deleting tup1 :");
print(tup1);

('physics', 'chemistry', 100, 120)
After deleting tup1 :

NameError: name 'tup1' is not defined

In [2]:
tup1 = ("physics", "chemistry", 100, 120);

for t in tup1:
    print(t);

physics
chemistry
100
120

In [15]:
tup1 = ("physics", "chemistry", 100, 120);

print(tup1);
tup1[2] = "Maths";

print(tup1);

('physics', 'chemistry', 100, 120)

TypeError: 'tuple' object does not support item assignment

In [17]:
tup1 = ("physics", "chemistry", "Urdu", "Maths");

if ("Urdu" in tup1):
    print("Urdu exists in tup1");
    
if ("Islamiat" in tup1):
    print("Islamiat exists in tup1");

Urdu exists in tup1

In [19]:
tup1 = ("physics", "chemistry", "Urdu", "Maths");

print(len(tup1));

4

# Dictionaries

In [29]:
list1 = ["gogo", "hum tum", "7up", "shahi delux", "shahi meva"]
dictionary = {"key" : "value"};
item = {"ItemCode" : "00001", "ItemName" : "Glass Protector"}

print(a);
print(a["key"]);

print(item);
print(item["ItemCode"]);
print(item["ItemName"]);

{'key': 'value'}
value
{'ItemCode': '00001', 'ItemName': 'Glass Protector'}
00001
Glass Protector

In [35]:
products = ["gogo", "hum tum", "7up", "shahi delux", "shahi meva"];
item = {"ShopType" : "Paan wala", "Items" : products};


print(item);
print(item["ShopType"]);
print(item["Items"]);

{'ShopType': 'Paan wala', 'Items': ['gogo', 'hum tum', '7up', 'shahi delux', 'shahi meva']}
Paan wala
['gogo', 'hum tum', '7up', 'shahi delux', 'shahi meva']

In [37]:
dictionary = {"name" : "Fahad", "fatherName" : "Basit", "name" : "Tariq"};
print(dictionary["name"]);

Tariq

In [40]:
dictionary = {"name" : ["Fahad", "Tariq"], "fatherName" : "Basit"};
print(dictionary["name"]);
print(dictionary["fatherName"]);

['Fahad', 'Tariq']
Basit

In [46]:
dictionary = {"name" : ("Fahad", "Tariq"), "fatherName" : "Basit"};
print(dictionary["name"]);
print(dictionary["fatherName"]);

('Fahad', 'Tariq')
Basit

In [47]:
dictionary = {"name" : ("Fahad", "Tariq"), "fatherName" : "Basit"};
print(dictionary["name"][1]);

Tariq

In [48]:
dictionary = {"name" : ("Fahad", "Tariq", ["Jojo", "Johny", "John"]), "fatherName" : "Basit"};
print(dictionary["name"][2][1]);

Johny

In [50]:
dictionary = {"name" : ("Fahad", "Tariq", ["Jojo", "Johny", "John"]), "fatherName" : "Basit"};

dictionary["name"][2][1] = "Aslam"
print(dictionary)

{'name': ('Fahad', 'Tariq', ['Jojo', 'Aslam', 'John']), 'fatherName': 'Basit'}

In [54]:
dictionary = {"name" : ("Fahad", "Tariq", ["Jojo", "Johny", "John"]), "fatherName" : "Basit"};

dictionary["name"][2] = "Aslam"
print(dictionary)

TypeError: 'tuple' object does not support item assignment

In [57]:
alien = {"colour" : "blue", "points" : 10};
print(alien);

alien["xPosition"] = 5;
alien["yPosition"] = 15;

print(alien);

{'colour': 'blue', 'points': 10}
{'colour': 'blue', 'points': 10, 'xPosition': 5, 'yPosition': 15}

In [60]:
foods = {};
foods["dish"] = ["favourite", "karahi"];
foods["Restaurant"] = "Dhabha";
foods["dictionary"] = {"key1" : "key1 value", "key2" : "key2 value", "key3" : ["key3 value1", "key3 value2", "key3 value3"]};

print(foods["dictionary"]["key3"][2]);

key3 value3

In [61]:
psl = {'karachi': 'kings', 'multan':'sultan', 'zalmi': 'won'}
print("Karachi is: " + str(psl['karachi']))

if psl['zalmi'] == 'loser':
    x_increment = 1
    
elif psl['zalmi'] == 'won':
    x_increment = 2
    
else:
    x_increment = 3
    
    
psl['zalmi'] = psl['zalmi'] + str(x_increment)
print("PSL4 zalmi : " + str(psl['zalmi']))

Karachi is: kings
PSL4 zalmi : won2

In [62]:
alien = {"colour" : "blue", "points" : 10, "xPosition" : 5, "yPosition" : 10};

print(alien["points"]);

if (alien["colour"] == "green"):
    alien["points"] += 2;
elif (alien["colour"] == "blue"):
    alien["points"] += 4;
else:
    alien["points"] += 6;

print(alien["points"]);

10
14